.playlist-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
}

.playlist-item-title {
    flex-basis: 100%;
}

.playlist-item-info {
    flex-basis: 100%;
}